<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.villageoffie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".village.ApproveProfessionalTax"></activity>
        <activity android:name=".village.ApproveBuildingTax" />
        <activity android:name=".userpackage.TaxpayingView" />
        <activity android:name=".userpackage.ViewMyShop" />
        <activity android:name=".userpackage.ViewMyProperty" />
        <activity android:name=".userpackage.ViewBuildingPermit" />
        <activity android:name=".userpackage.ViewTradeLisence" />
        <activity android:name=".userpackage.ViewmrgCer" />
        <activity android:name=".userpackage.ViewDeathCer" />
        <activity android:name=".village.ViewMrgApp" />
        <activity android:name=".village.ViewDeathApp" />
        <activity android:name=".village.ViewBirthApp" />
        <activity android:name=".village.MrgAppliedList" />
        <activity android:name=".village.DeathAppliedList" />
        <activity android:name=".village.BirthAppliedlist" />
        <activity android:name=".village.ViewtradeApplications" />
        <activity android:name=".village.TradeAppliedList" />
        <activity android:name=".village.Appliedlist" />
        <activity android:name=".userpackage.TradeLisence" />
        <activity android:name=".userpackage.BuildingPermission" />
        <activity android:name=".userpackage.MarrigeCer" />
        <activity android:name=".userpackage.DeathCer" />
        <activity android:name=".userpackage.BirtCer" />
        <activity android:name=".adminpackage.Viewfeedback" />
        <activity android:name=".adminpackage.ViewUsers" />
        <activity
            android:name=".userpackage.Viewissued"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".village.verifyDocs" />
        <activity android:name=".village.ViewApplications" />
        <activity android:name=".village.VillageHome" />
        <activity
            android:name=".userpackage.UserHome"
            android:label="@string/title_activity_user_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".userpackage.ViewUser" />
        <activity
            android:name=".adminpackage.EditVillage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".adminpackage.EditCertificate"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".adminpackage.ViewCertificates"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".adminpackage.ViewVillages"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".adminpackage.AddCertificates"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".adminpackage.AddVillage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".adminpackage.Admin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Others.Register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Others.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Others.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>